<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Blog Post
        <small>Blog Post</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Blog Post</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <hr>
      <p><i class="fa fa-clock-o"></i> Posted on May 24, 2015 at 9:00 PM by <a href="">Your Name</a></p>
      <hr>
      <img src="http://placehold.it/900x300" class="img-responsive">
      <hr>
      <p class="lead">Step by step ruby on rails installer on mac</p>
      <p>First thing you have to do while going ahead is to install brew on your mac</p>
      <p>then add it to bash</p>
      <p>Install Ruby by using following command<br><code>brew install ruby</code></p>
      <p>Then Install rails gem as follows <br><code>bundle install gem rails</code></p>
      <hr>
      <div class="well">
          <h4>Leave a Comment:</h4>
          <form role="form">
              <div class="form-group">
                  <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <hr>
      <h3>Alian<small> 9:41 PM on May 24, 2015</small></h3>
      <p>This is very good blog. I am easily able to install ruby on rails on my macbook pro </p>
    </div>
  </div>
</div>