<div class="section" ng-controller="SliderCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
         <slider images="images" />
      </div>
    </div>    
  </div>
</div>    
<div class="section-colored text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Some Introduction</h3>
        <hr>
        Your good thought
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Work Info</h2>
        <hr>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section-colored">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Technologies I worked on:</h2>
        <ul>
          <li>Perl</li>
          <li>Ruby on Rails</li>
          <li>Salesforce</li>
          <li>PHP</li>
          <li>Phonegap</li>
          <li>Angularjs</li>
          <li>Node js</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Technologies under training:</h2>
        <ul>
          <li>Hadoop eco system</li>
          <li>Apache Spark</li>
          <li>Raspberry pi 2</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row well">
    <div class="col-lg-8 col-md-8">
      <h4>Please contact me if you have any new idea about any type of project. </h4>
      <p>I will give you required suggestion for it</p>
    </div>
    <div class="col-lg-4 col-md-4">
      <a class="btn btn-lg btn-primary pull-right" href="mailto:youremailaddress">Email me</a>
    </div>
  </div>
</div>