<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Interests
        <small>What I Do</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Interests</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive" src="http://placehold.it/1200x300">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">My Interests</h2>
      <p>I am interested in lots of things including sport, electronics, computer, Data analytics, Trekking, cooking, roaming etc.. </p>
    </div>
    <div class="col-md-4">
      <h2 class="page-header">Friend me</h2>
      <p>If you want to be my friend, please contact me!</p>
      <a class="btn btn-primary" href="">Contact me!</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Interests</h2>
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href=".sport-interest" data-toggle="tab">sport</a></li>
        <li><a href=".electronics-interest" data-toggle="tab">electronics</a></li>
        <li><a href=".computer-interest" data-toggle="tab">computer</a></li>
        <li><a href=".cooking-interest" data-toggle="tab">cooking</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active sport-interest" >
          <i class="fa fa-gear pull-left fa-2x"></i>
          <p>Table Tennis</p>
        </div>
        <div class="tab-pane fade electronics-interest">
          <i class="fa fa-gears pull-left fa-2x"></i>
          <p>Internet of things</p>
        </div>
        <div class="tab-pane fade computer-interest" >
          <i class="fa fa-magic pull-left fa-2x"></i>
          <p>software development</p>
        </div>
        <div class="tab-pane fade cooking-interest" >
          <i class="fa fa-flask pull-left fa-2x"></i>
          <p>Dahi Vada</p>
        </div>
      </div>
    </div>
  </div>
</div>

